body {
  font-family: 'Lora', serif;
  margin: 0;
  padding: 0;
  background: #fdfdfd;
  color: #333;
}

header {
  background: #6f4e37;
  color: white;
  padding: 15px;
  text-align: center;
}
.brand-logo{
    display: flex;

}
.brand-logo img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.brand-logo h1{
    margin: 0 30px;
}
nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
  color: #f5deb3;
}

.hero {
  background: url('https://i.pinimg.com/736x/39/3b/b1/393bb1bb15940aea508dd07c5da23917.jpg') center/cover no-repeat;
  color: white;
  text-align: center;
  padding: 100px 20px;
  width: 500px;
  
}

.slideshow img {
  width: 500px;
  max-height: 400px;
  display: none;
  border-radius: 10px;
  box-shadow: 0 6px 10px rgba(0,0,0,0.3);
}

footer {
  background: #6f4e37;
  color: white;
  text-align: center;
  padding: 10px;
}


.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0; top: 0;
  width: 100%; height: 100%;
  background-color: rgba(0,0,0,0.5);
}
.modal-content {
  background: #fff;
  margin: 15% auto;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  text-align: center;
  box-shadow: 0 6px 12px rgba(0,0,0,0.3);
}
.close {
  float: right;
  font-size: 20px;
  cursor: pointer;
}
.equipment img{
    width: 300px;
    height: 300px;
    margin-bottom: 150px 0;
    padding: 30px 0px;
}
.equipment{
    display: flex;
    overflow-x: hidden;
}
.img-1 img{
    width: 300px;
    height: 300px;
}
.img-2 img{
    width: 300px;
    height: 350px;
}
.img-3 img{
    width: 30b0px;
    height: 400px;
}
